$color-primary: #ff895f;
$color-secondary: #a9b0be;
$color-success: #00d1b2;
$color-info: #209cee;
$color-warning: #ffdd57;
$color-danger: #ff3860;
$color-light: #f5f7fa;
$color-dark: #293947;
$color-pink: #935e92;
